{% comment %}
  Display a list of blog posts from the site.data.blog_posts data file.
  To add a new post, edit _data/blog_posts.yml
{% endcomment %}

<div class="blog-list">
  {% if site.data.blog_posts %}
    <ul style="list-style: none; padding: 0;">
      {% for post in site.data.blog_posts %}
        <li style="margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #e1e4e8;">
          <a href="{{ post.url }}" style="font-weight: 600; color: #0366d6; text-decoration: none;">{{ post.title }}</a>
          <div style="font-size: 0.9em; color: #586069; margin-top: 0.3rem;">
            <span>{{ post.date }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No blog posts yet.</p>
  {% endif %}
</div>
